.product {
  position: relative;
  overflow: hidden;
  padding: 190px 0 125px 0;
  background: url(../img/bg-shadow-up.webp) top 0 left 0/cover no-repeat;
  z-index: 1
}
.product__img-bg {
  position: absolute;
  z-index: -1
}
.product__img-bg--cube {
  width: 480px;
  left: -50px;
  bottom: 55px
}
.product__img-bg--crane {
  right: 0;
  bottom: 0;
  width: 680px
}

.title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  color: var(--emperor)
}

.product__title {
  max-width: 640px
}
.product__title span {
  font-size: 18px;
  color: #fff;
  padding: 8px 15px;
  background-color: var(--green);
  border-radius: 10px
}
.product__advantages {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 25px
}
.product__advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 250px
}
.product__advantages-icon {
  height: auto
}
.product__advantages-content {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%
}
.product__advantages-content span {
  font-weight: 700;
  font-size: 20px
}
.product__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 20px
}
.product__btn-lift {
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 4px 4px 0 0 var(--green-black)
}
.product__btn-lift:focus {
  -webkit-transform: translate(4px,4px);
  transform: translate(4px,4px);
  box-shadow: none
}

@media (max-width:1439px) {
  .product__img-bg--crane {
    width: 610px;
    right: -100px
  }
}
@media (max-width:1199px) {
  .product {
    padding-top: 150px
  }
  .product__advantages {
    max-width: 780px
  }
}
@media (max-width:992px) {
  .product__img-bg--crane {
    right: -320px
  }
}

@media (max-width:767px) {
  .title {
    font-size: 20px;
  }
  .product {
    padding: 125px 0 60px 0
  }
  .product__img-bg--cube {
    display: none
  }
  .product__img-bg--crane {
    width: 480px;
    right: -250px
  }
  .product__title {
    max-width: 400px
  }
  .product__title span {
    font-size: inherit;
    padding: 0;
    color: var(--green);
    background: 0 0
  }
  .product__advantages {
    max-width: 580px
  }
  .product__advantages-item {
    max-width: 215px
  }
  .product__advantages-content {
    font-size: 14px
  }
  .product__advantages-content span {
    font-size: inherit
  }
  .product__buttons {
    flex-direction: column;
    margin-top: 40px
  }
  .product__buttons .btn {
    max-width: 250px;
    width: 100%
  }
  .product__btn-lift {
    padding: 15px
  } 
}

@media (any-hover:hover) {
   .product__btn-lift:hover {
    cursor: pointer
  }
  .btn.btn-stroke:hover {
    background-color: var(--green);
    color: #fff
  }
  .btn.btn-dashed:hover {
    background-color: var(--green);
    color: #fff
  }
}