@import url("./header.css");
@import url("./footer.css");
@import url("./hero.css");
@import url("./answers.css");
@import url("./popup.css");
@import url("./contact.css");
@import url("./table.css");
@import url("./ticker.css");
@import url("./catalog.css");
@import url("./product.css");

@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src: url(../fonts/DrukCyr-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --green-black: #2f540b;
  --green-bright: #05c443;
  --green: #559d11;
  --emperor: #4f4f4f;
  --gray: #D9D9D9;
  --gallery: #ededed
}
html {
  box-sizing: border-box
}
*,
*::after,
*::before {
  box-sizing: inherit
}
a {
  color: inherit;
  text-decoration: none
}
img {
  max-width: 100%
}

body {
  font-family: Montserrat,sans-serif
}

.body-hidden {
  overflow: hidden;
  touch-action: none
}
:root {
  --content-width: 1200px;
  --offset-width: 15px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2))
}
.container {
  max-width: var(--container-width);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto
}

.btn {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid var(--green);
  color: inherit;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  transition: color .2s ease,background-color .2s ease
}

.btn.btn-primary {
  font-weight: 700;
  color: #fff;
  background-color: var(--green);
}

.btn.btn-primary:hover {
  color: #000;
  background-color: transparent
}
.btn.btn-dashed {
  border-style: dashed
}
.list {
  padding-left: 0;
  list-style: none
}

.tab {
  display: none
}
.tab.active {
  display: block
}
.input {
  border: none;
  outline: 0;
  color: inherit
}
.input::-webkit-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input:-ms-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input::-ms-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input::placeholder {
  color: var(--emperor);
  font-size: inherit
}

@media (max-width:767px) {
  .container {
    max-width: none;
    padding: 0 20px
  }
  .btn {
    padding: 12px;
    font-size: 14px
  }
}