@font-face {
  font-family: DrukCyr;
  font-display: swap;
  src: url(../fonts/DrukCyr-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Inter;
  font-display: swap;
  src: url(../fonts/Inter-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Montserrat;
  font-display: swap;
  src: url(../fonts/Montserrat-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%
}
body {
  margin: 0
}
main {
  display: block
}
h1 {
  font-size: 2em;
  margin: .67em 0
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}
pre {
  font-family: monospace,monospace;
  font-size: 1em
}
a {
  background-color: transparent
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted
}
b,
strong {
  font-weight: bolder
}
code,
kbd,
samp {
  font-family: monospace,monospace;
  font-size: 1em
}
small {
  font-size: 80%
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}
sub {
  bottom: -.25em
}
sup {
  top: -.5em
}
img {
  border-style: none
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}
button,
input {
  overflow: visible
}
button,
select {
  text-transform: none
}
[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}
fieldset {
  padding: .35em .75em .625em
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}
progress {
  vertical-align: baseline
}
textarea {
  overflow: auto
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}
details {
  display: block
}
summary {
  display: list-item
}
template {
  display: none
}
[hidden] {
  display: none
}
:root {
  --green-black: #2f540b;
  --green-bright: #05c443;
  --green: #559d11;
  --emperor: #4f4f4f;
  --gray: #D9D9D9;
  --gallery: #ededed
}
html {
  box-sizing: border-box
}
*,
*::after,
*::before {
  box-sizing: inherit
}
a {
  color: inherit;
  text-decoration: none
}
img {
  max-width: 100%
}
.contact .input.contact__input{
	height: 60px;
    border: none;
    padding-left: 20px;
    border-radius: 50px;
}
body {
  font-family: Montserrat,sans-serif
}
.body-hidden {
  overflow: hidden;
  touch-action: none
}
:root {
  --content-width: 1200px;
  --offset-width: 15px;
  --container-width: calc(var(--content-width) + (var(--offset-width) * 2))
}
.container {
  max-width: var(--container-width);
  width: 100%;
  padding: 0 15px;
  margin: 0 auto
}
.btn-null {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  border-radius: 0;
  border: none;
  padding: 0;
  text-align: left
}
.product-attributes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-attributes-table td {
    padding: 10px;
    border: 1px solid #ddd;
	font-weight: 500;
}

.product-attributes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.btn {
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  padding: 20px;
  border-radius: 5px;
  font-weight: 500;
  border: 1px solid var(--green);
  color: inherit;
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  transition: color .2s ease,background-color .2s ease
}
.btn.btn-stroke.active {
  background-color: var(--green);
  color: #fff
}
.btn.btn-primary {
  font-weight: 700;
  color: #fff;
  background-color: var(--green);
}
.contact__form .btn.btn-primary{
  border-radius: 50px;
}
.btn.btn-primary:hover {
  color: #000;
  background-color: transparent
}
.btn.btn-dashed {
  border-style: dashed
}
.list {
  padding-left: 0;
  margin: 0;
  list-style: none
}
.title {
  margin: 0;
  font-weight: 700;
  font-size: 34px;
  color: var(--emperor)
}
.tab {
  display: none
}
.tab.active {
  display: block
}
.input {
  border: none;
  outline: 0;
  color: inherit
}
.input::-webkit-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input:-ms-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input::-ms-input-placeholder {
  color: var(--emperor);
  font-size: inherit
}
.input::placeholder {
  color: var(--emperor);
  font-size: inherit
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px 0;
  z-index: 100
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between
}
.header__messenegers {
  display: flex;
  align-items: center;
  gap: 18px
}
.header__messenegers-buttons {
  display: flex;
  gap: 6px
}
.header__messenegers-btn {
  width: 38px;
  height: 38px;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease
}
.header__messenegers-icon {
  width: 100%;
  height: 100%
}
.header__messenegers-content {
  margin: 0;
  max-width: 95px;
  font-weight: 500;
  font-size: 12px
}
.header__hours-work {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 20px;
  max-width: 130px;
  font-weight: 500;
  font-size: 12px
}
.header__hours-work::before {
  position: absolute;
  content: "";
  left: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--green-bright)
}
.header__contact {
  display: flex;
  flex-direction: column;
  align-items: end
}
.header__contact-tel {
  font-size: 25px;
  transition: color .2s ease
}
.header__contact-mail {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  font-size: 16px;
  transition: color .2s ease
}
.header__call {
  text-transform: none;
  padding: 14px 24px
}
.hero {
  position: relative;
  overflow: hidden;
  padding: 190px 0 125px 0;
  background: url(../img/bg-shadow-up.webp) top 0 left 0/cover no-repeat;
  z-index: 1
}
.hero__img-bg {
  position: absolute;
  z-index: -1
}
.hero__img-bg--cube {
  width: 480px;
  left: -50px;
  bottom: 55px
}
.hero__img-bg--crane {
  right: 0;
  bottom: 0;
  width: 680px
}
.hero__title {
  max-width: 640px
}
.hero__title span {
  font-size: 18px;
  color: #fff;
  padding: 8px 15px;
  background-color: var(--green);
  border-radius: 10px
}
.hero__advantages {
  margin-top: 40px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  row-gap: 25px
}
.hero__advantages-item {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 250px
}
.hero__advantages-icon {
  height: auto
}
.hero__advantages-content {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%
}
.hero__advantages-content span {
  font-weight: 700;
  font-size: 20px
}
.hero__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  gap: 20px
}
.hero__btn-lift {
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 4px 4px 0 0 var(--green-black)
}
.hero__btn-lift:focus {
  -webkit-transform: translate(4px,4px);
  transform: translate(4px,4px);
  box-shadow: none
}
.ticker {
  padding: 32px 0;
  overflow: hidden;
  background-color: var(--green);
  position: relative
}
.ticker__wrapper {
  display: flex
}
.ticker__item {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 0 20px 0 35px;
  font-size: 20px;
  text-transform: uppercase;
  flex-shrink: 0;
  font-weight: 700;
  color: #fff;
  white-space: nowrap;
  -webkit-animation: ticker 5s linear infinite;
  animation: ticker 5s linear infinite
}
.ticker__item::before {
  position: absolute;
  content: "";
  width: 12px;
  height: 12px;
  background-color: currentColor;
  border-radius: 50%;
  left: 0
}
@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  100% {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
  }
  100% {
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0)
  }
}
.catalog {
  padding: 100px 0 50px 0
}
.catalog__nav {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px
}
.catalog__nav-item {
  text-transform: none
}
.catalog__wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 50px
}
.catalog__sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 30px
}
.catalog__sidebar-item {
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: 10px;
  width: 215px;
  height: 180px;
  z-index: 1
}
.catalog__sidebar-bg {
  position: absolute;
  inset: 0;
  -o-object-fit: cover;
  object-fit: cover;
  z-index: -1
}
.catalog__sidebar-title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background-color: var(--emperor)
}
.catalog__products {
  flex: 0 1 calc(100% - 240px)
}
.catalog__products-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px
}
.catalog__item {
  border-radius: 5px;
  border: 1px solid var(--gray);
  flex: 0 1 calc(25% - 15px);
  padding: 15px
}
.catalog__img {
  display: block;
  margin: 0 auto;
  width: 195px;
  height: 195px;
  -o-object-fit: cover;
  object-fit: cover
}
.catalog__item-title {
  margin-top: 10px;
  font-size: 12px!important;
  line-height: 120%;
  text-align: center;
  color: #000;
  -webkit-text-size-adjust: 100%
}
.catalog__specifications {
  margin-top: 15px
}
.catalog__specifications li {
  font-weight: 500;
  font-size: 11px;
  line-height: 180%
}
.catalog__price {
  margin-top: 8px;
  display: block;
  font-weight: 700;
  font-size: 14px
}
.catalog__item-btn {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  padding: 10px
}
.answers {
  position: relative;
  padding: 165px 0;
  z-index: 1
}
.answers__lift {
  position: absolute;
  content: "";
  z-index: -1;
  width: 400px;
  height: auto;
  right: 120px;
  bottom: 100px
}
.answers__bg {
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.answers__title {
  max-width: 480px
}
.answers__info {
  margin-top: 70px;
  max-width: 765px
}
.answers__spoller:not(:first-child) {
  margin-top: 30px
}
.answers__btn {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 80px;
  font-size: 18px;
  font-weight: 500;
  color: #000;
  -webkit-text-fill-color: #000
}
.answers__btn::after,
.answers__btn::before {
  position: absolute;
  content: "";
  background-color: #000;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease
}
.answers__btn::before {
  width: 20px;
  height: 2px;
  left: 0
}
.answers__btn::after {
  height: 20px;
  width: 2px;
  left: 9px
}
.answers__btn._spoller-active::after {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg)
}
.answers__info-content {
  padding-top: 20px;
  margin: 0 0 0 auto;
  max-width: calc(100% - 80px)
}
.contact {
  position: relative;
  padding-bottom: 75px;
  z-index: 1
}
.contact__wrapper {
  max-width: 870px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid var(--green);
  border-radius: 20px;
  padding: 55px 10px 35px 10px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center
}
.contact__title {
  font-size: 20px;
  text-align: center
}
.pnd{
	padding:10px;
}
.pnd_link{
	font-size:12px;
}
.pnd input{
	margin-right:10px;
}
.contact__content {
  margin: 15px 0 0 0;
  padding-bottom:20px;
  text-align: center;
  font-size: 16px
}
.contact__content a {
  text-decoration: underline
}
.contact__form {
  margin-top: 35px;
  display: flex;
  max-width: 610px;
  width: 100%;
  border: 1px solid var(--green);
  border-radius: 50px
}
.contact__input {
  flex: 1;
  padding-right: 10px;
  padding-left: 20px
}
.contact__btn {
  text-transform: none;
  flex: 0 1 260px
}
.contact__social {
  margin-top: 25px;
  flex-wrap: wrap;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center
}
.contact__social-btn {
  background-color: var(--gallery);
  padding: 4px 8px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease,-webkit-transform .2s ease
}
.contact__social-icon {
  width: 35px;
  height: 35px
}
.contact__social-content {
  font-weight: 500;
  font-size: 14px
}
.messenegers {
  position: fixed;
  right: 0;
  top: 200px;
  z-index: 100;
  border-radius: 10px 0 0 10px;
  background-color: #484848
}
.messenegers__item {
  display: block;
  padding: 15px
}
.messenegers__item:not(:last-child) {
  border-bottom: 1px solid #656565
}
.messenegers__icon {
  display: block;
  width: 44px;
  height: 44px;
  -webkit-transform: transform .2s ease;
  transform: transform .2s ease
}
.footer {
  position: relative;
  padding: 15px 0;
  color: #fff;
  background-color: #000;
  z-index: 1
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap
}
.footer__logo {
  width: 180px
}
.footer__logo-img {
  height: auto
}
.footer__logo-img--mobile {
  display: none
}
.footer__content {
  margin: 0;
  font-size: 16px;
  text-decoration: underline
}
.footer__politics {
  font-size: 16px;
  text-decoration: underline
}

.product-attributes{
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (max-width:1439px) {
  .hero__img-bg--crane {
    width: 610px;
    right: -100px
  }
  .answers__lift {
    width: 350px;
    right: 80px
  }
}
@media (max-width:1199px) {
  .header__logo {
    width: 140px
  }
  .hero {
    padding-top: 150px
  }
  .hero__advantages {
    max-width: 780px
  }
  .catalog__item {
    flex-basis: calc(33% - 11px)
  }
  .answers__lift {
    width: 215px;
    right: 0
  }
}
@media (max-width:992px) {
  .header__messenegers-content {
    display: none
  }
  .header__hours-work {
    display: none
  }
  .hero__img-bg--crane {
    right: -320px
  }
  .catalog__wrapper {
    margin-top: 30px
  }
  .catalog__sidebar {
    display: none
  }
  .catalog__products {
    flex-basis: 100%
  }
  .answers {
    padding: 110px 0 60px 0
  }
  .answers__lift {
    display: none
  }
  .answers__title {
    max-width: 345px
  }
  .answers__info {
    margin-top: 30px
  }
}
@media (max-width:767px) {
  .product-attributes-table td{
    font-size: 14px;
  }
  .contact .input.contact__input{
    border-radius: 10px;
    border: 1px solid #d9d9d9;
  }
  .contact__form .btn.btn-primary{
    border-radius: 10px;
  }
  .container {
    max-width: none;
    padding: 0 20px
  }
  .btn {
    padding: 12px;
    font-size: 14px
  }
  .title {
    font-size: 20px;
  }
  .header__logo {
    width: 100px
  }
  .header__messenegers {
    order: 2
  }
  .header__messenegers-btn {
    width: 30px;
    height: 30px
  }
  .header__contact {
    order: 1
  }
  .header__contact-tel {
    font-size: 18px;
    font-weight: 700;
    color: var(--emperor)
  }
  .header__contact-mail {
    display: none
  }
  .header__call {
    display: none
  }
  .hero {
    padding: 125px 0 60px 0
  }
  .hero__img-bg--cube {
    display: none
  }
  .hero__img-bg--crane {
    width: 480px;
    right: -250px
  }
  .hero__title {
    max-width: 400px
  }
  .hero__title span {
    font-size: inherit;
    padding: 0;
    color: var(--green);
    background: 0 0
  }
  .hero__advantages {
    max-width: 580px
  }
  .hero__advantages-item {
    max-width: 215px
  }
  .hero__advantages-content {
    font-size: 14px
  }
  .hero__advantages-content span {
    font-size: inherit
  }
  .hero__buttons {
    flex-direction: column;
    margin-top: 40px
  }
  .hero__buttons .btn {
    max-width: 250px;
    width: 100%
  }
  .hero__btn-lift {
    padding: 15px
  }
  .ticker {
    padding: 15px 0
  }
  .ticker__item {
    font-size: 16px;
    padding: 0 20px
  }
  .ticker__item::before {
    width: 8px;
    height: 4px;
    border-radius: 0
  }
  .catalog {
    padding: 60px 0
  }
  .catalog__title {
    text-align: center
  }
  .catalog__nav-item {
    font-size: 12px
  }
  .catalog__item {
    flex-basis: calc(50% - 10px)
  }
  .catalog__img {
    width: 150px;
	  height:150px;
  }
  .catalog__specifications {
    text-align: center
  }
  .catalog__price {
    text-align: center
  }
  .contact {
    padding-bottom: 10px
  }
  .contact__wrapper {
    padding: 40px 30px 30px 30px
  }
  .contact__form {
    border: none;
    padding: 0;
    margin-top: 20px;
    display: block;
    max-width: 350px;
    font-size: 18px
  }
  .contact__input {
    width: 100%;
	  height:40px!important;
    padding: 13px 10px;
    border: 1px solid var(--green);
    border-radius: 10px;
    margin-bottom: 10px
  }
  .contact__btn {
    width: 100%
  }
  .messenegers {
    display: flex;
    right: 15px;
    bottom: 10px;
    top: auto;
    border-radius: 50px
  }
  .messenegers__item:not(:last-child) {
    border: none
  }
  .messenegers__item {
    padding: 9px
  }
  .messenegers__icon {
    width: 40px;
    height: 40px
  }
  .footer {
    color: var(--emperor);
    background-color: transparent
  }
  .footer__container {
    justify-content: center
  }
  .footer__logo-img {
    display: none
  }
  .footer__logo-img--mobile {
    display: block
  }
}
@media (max-width:479px) {
  .header {
    padding: 10px 0
  }
}
@media (max-width:429px) {
  .header__contact-tel {
    font-size: 14px
  }
  .catalog__products-list {
    gap: 10px
  }
  .catalog__item {
    padding: 8px
  }
  .catalog__price {
    font-size: 12px
  }
  .catalog__item-btn {
    font-size: 12px
  }
  .answers__btn {
    padding-left: 50px;
	  font-size:16px!important;
  }
  .answers__info-content {
    max-width: calc(100% - 50px);
    font-size:14px!important;
  }
}
@media (any-hover:hover) {
  .btn.btn-stroke:hover {
    background-color: var(--green);
    color: #fff
  }
  .btn.btn-dashed:hover {
    background-color: var(--green);
    color: #fff
  }
  .header__messenegers-btn:hover {
    -webkit-transform: rotate(45deg) scale(1.2);
    transform: rotate(45deg) scale(1.2)
  }
  .header__contact-tel:hover {
    color: var(--green-bright)
  }
  .header__contact-mail:hover {
    color: var(--green-bright)
  }
  .hero__btn-lift:hover {
    cursor: pointer
  }
  .contact__content a:hover {
    color: var(--green)
  }
  .contact__social-btn:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .messenegers__item:hover .messenegers__icon {
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
  }
  .footer__politics:hover {
    color: var(--green)
  }
}