.product-attributes-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.product-attributes-table td {
    padding: 10px;
    border: 1px solid #ddd;
	font-weight: 500;
}

.product-attributes-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.product-attributes{
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (max-width:767px) {
  .product-attributes-table td{
    font-size: 14px;
  }
}


